*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.menu{
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.menu:hover{
    color: violet;
}
.banner-size{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid gray;
    color: white;
    background-image: url("../images/background.png"), 
    linear-gradient(45deg,rgb(8, 8, 8),#3d3c3c);
}
.title{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.discription{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.Btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}
.title2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.text2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box1{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.box-btn{
    background-color: gray;
    margin-top: 10px;
}
.title3{
   padding: 10px;
}
.description3{
    padding: 5px;
}
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgb(34, 33, 33);
}

