*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 120px;
}
.menus{
    display: flex;
}
.menu{
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.menu:hover{
    color: violet;
}
.banner-size{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid gray;
    color: white;
    background-image: url("../images/background.png"), 
    linear-gradient(45deg,rgb(8, 8, 8),#3d3c3c);
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.discription{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.Btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
