*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: blue;
}
.box{
    padding: 20px;
    background-color: aqua;
    width: 110px;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: blueviolet;
}
.Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}